{%- set languages = get_languages() -%}
{%- set home_url = url('pages:homepage', kwargs={'lang': request.LANGUAGE_CODE}) -%}
{%- set catalog_tree = categories_tree() -%}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>
			{{- var('SEO_TITLE_PREFIX', request) -}}
			{%- if request.seo_params -%}
			{{- request.seo_params['seo_title'] -}}
			{%- else -%}
			{%- block PAGE_TITLE %}{% endblock -%}
			{%- endif -%}
			{{- var('SEO_TITLE_POSTFIX', request) -}}
    </title>
    <meta name="description" content="
			{%- if request.seo_params -%}
			{{- request.seo_params['seo_description'] -}}
			{%- endif -%}
    ">
    <meta name="keywords" content="
			{%- if request.seo_params -%}
			{{- request.seo_params['seo_keywords'] -}}
			{%- endif -%}
    ">
    <meta name="viewport" content="width=device-width, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.png">

    {%- for language in languages -%}
			{%- if language[0] != request.LANGUAGE_CODE -%}
      <link rel="alternate" href="{{ site_url() }}{{ get_language_href(request, language[0]) }}" hreflang="{{ language[0] }}" />
    	{%- endif -%}
    {%- endfor -%}
		<!--[if lt IE 9]>
			<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon">
			<script src="{{ STATIC_URL }}js/html5.js"></script>
		<![endif]-->

	  {%- block EXTRA_META %}{% endblock -%}
		{{- var('BEFORE_HEAD_CLOSE', request) -}}
  </head>

  <body class="page skrollr-body {% block BODY_CLASSES %}{% endblock %}" id="top" style="opacity:0">
		{{- var('EXACT_BODY_START', request) -}}

		<div class="page__layout">
			{%- block HEADER -%}
			<div class="header-wrap">
				<header class="header"
								data-start="transform: translateY(0px)"
								data-top-bottom="transform: translateY(-100px)">

					<div class="header__top">
						<div class="container">
							<button class="menu-toggle">
								<span></span><span></span><span></span>
							</button>

							<a href="{{ home_url }}"
								 class="logo header__logo header__logo--sm">
								<img src="{{ STATIC_URL }}images/logo_sm.svg" alt=""/>
							</a>

							<nav class="header__menu">
								<ul class="header__menu-list">
									{{- menu(request, 'TOP_MAIN_MENU') -}}
								</ul>
							</nav>

							<div class="header__contacts">
								{%- if var('EMAIL_PUBLIC', request) -%}
								<a href="mailto:{{ var('EMAIL_PUBLIC', request)|e }}"
									 class="email-link header__email">
									{{- var('EMAIL_PUBLIC', request) -}}
								</a>
								{%- endif -%}

								{%- if var('TELEPHONE_PUBLIC', request) -%}
								<a href="tel:{{ var('TELEPHONE_PUBLIC', request)|phone_url }}"
									 class="tel-link header__tel">
									{{- var('TELEPHONE_PUBLIC', request) -}}
								</a>
								{%- endif -%}


								{%- if var('CALLBACK_REQUEST_TEXT', request) -%}
								<a href="javascript:"
									 data-fancybox
									 data-type="ajax"
									 data-src="{{ url('popups:callback', kwargs={'lang': request.LANGUAGE_CODE}) }}"
									 class="header__callback">
									{{- var('CALLBACK_REQUEST_TEXT', request) -}}
								</a>
								{%- endif -%}
							</div>
						</div>
					</div>

					<div class="header__bottom">
						<div class="header__search">
							<div class="container">
								<div class="row">
									<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

										<form action="{{ url('search:search', kwargs={'lang': request.LANGUAGE_CODE}) }}"
													class="search-form" method="get" autocomplete="off" data-novalidate="">
											<input type="text" name="q" class="search-form__field" value="{{ request.GET.get('q', '') }}"/>

											<button type="submit" class="search-form__button" disabled>
												{{- var('FIND_BUTTON', request) -}}
											</button>

											<a href="javascript:" class="search-form__clear"></a>
										</form>

									</div>
								</div>
							</div>
						</div>

						<div class="container">
							<div class="header__bottom-left">

								<a href="{{ home_url }}" class="logo header__logo header__logo--big">
									<img src="{{ STATIC_URL }}images/logo.svg" class="img-responsive" alt=""/>
								</a>

								{%- if catalog_tree -%}
								<nav class="header__nav">
									<ul class="header__nav-list">

										{%- for category_1 in catalog_tree -%}
										{%- set cat1_url = category_1['obj'].get_absolute_url(request.LANGUAGE_CODE) -%}
										<li class="header__nav-item header__nav-item--dropdown catalog-dropdown
											{%- if hasattr(request, 'active_url') and cat1_url == request.active_url %} active{% endif %}">
											<a href="{{ cat1_url }}"
												 class="header__nav-link">
												{{- category_1['obj'].title -}}
												{%- if category_1['children'] -%}
												&nbsp;<span></span>
												{%- endif -%}
											</a>

											{%- if category_1['children'] -%}
											<div class="header__nav-dropdown">

												{%- for row in category_1['children']|batch(2, '') -%}
												<div>

													{%- for category_2 in row -%}
													{%- if category_2 -%}
													<div>
														<h4>
															<a href="{{ category_2['obj'].get_absolute_url(request.LANGUAGE_CODE) }}">
																{{- category_2['obj'].title -}}
															</a>
														</h4>

														{%- if category_2['children'] -%}
														<ul>
															{%- for category_3 in category_2['children'] -%}
															<li{% if current_category is defined() and current_category.id == category_3['obj'].id %} class="is-active"{% endif %}>
																<a href="{{ category_3['obj'].get_absolute_url(request.LANGUAGE_CODE) }}">
																	{{- category_3['obj'].title -}}
																</a>
															</li>
															{%- endfor -%}
														</ul>
														{%- endif -%}
													</div>
													{%- endif -%}
													{%- endfor -%}
												</div>
												{%- endfor -%}
											</div>
											{%- endif -%}
										</li>
										{%- endfor -%}

										{%- set training_url = url('training:training_index', kwargs={'lang': request.LANGUAGE_CODE}) -%}
										{%- set training_categories = get_training_categories() -%}

										{%- if training_categories -%}
										<li class="header__nav-item header__nav-item--dropdown training-dropdown
											{%- if hasattr(request, 'active_url') and training_url == request.active_url %} active{% endif %}">
											<a href="{{ training_url }}"
												 class="header__nav-link">
												{{- var('TRAINING_MENU_ITEM', request) -}}
												&nbsp;<span></span>
											</a>

											<div class="header__nav-dropdown">
												<div>
													{%- for category in training_categories -%}
													<div>
														<h4>
															<a href="{{ category.get_absolute_url(request.LANGUAGE_CODE) }}">
																{{- category.title -}}
															</a>
														</h4>
													</div>
													{%- endfor -%}

												</div>
											</div>
										</li>
										{%- endif -%}

										{%- set support_url = url('support:support_index', kwargs={'lang': request.LANGUAGE_CODE}) -%}
										{%- set support_categories = get_support_categories() -%}

										{%- if support_categories -%}
										<li class="header__nav-item header__nav-item--dropdown support-dropdown
											{%- if hasattr(request, 'active_url') and support_url == request.active_url %} active{% endif %}">
											<a href="{{ support_url }}"
												 class="header__nav-link">
												{{- var('SUPPORT_MENU_ITEM', request) -}}
												&nbsp;<span></span>
											</a>

											<div class="header__nav-dropdown">
												<div>
													{%- for category in support_categories -%}
													<div>
														<h4>
															<a href="{{ category.get_absolute_url(request.LANGUAGE_CODE) }}">
																{{- category.title -}}
															</a>
														</h4>
													</div>
													{%- endfor -%}

												</div>
											</div>
										</li>
										{%- endif -%}

									</ul>
								</nav>
								{%- endif -%}
							</div>

							<div class="header__bottom-right">
								<div class="search header__search-open">
									<a href="javascript:"
										 class="search__toggle">
										<span>{{ var('SEARCH_BUTTON', request) }}</span>
									</a>
								</div>

								<div class="lang header__lang">
									<div class="lang__selected">{{ request.LANGUAGE_CODE|upper }}</div>
									<ul class="lang__dropdown">
										{%- for language in languages -%}
										{%- if language[0] != request.LANGUAGE_CODE -%}
											<li>
												<a href="{{ site_url() }}{{ get_language_href(request, language[0]) }}">{{ language[0]|upper }}</a>
											</li>
											{%- endif -%}
										{%- endfor -%}
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="header__mobile">
						<div class="container">
							<div class="search header__search-open">
								<a href="{{ url('search:search', kwargs={'lang': request.LANGUAGE_CODE}) }}"
									 class="search__toggle">
									<span>{{ var('SEARCH_BUTTON', request) }}</span>
								</a>
							</div>

							<div class="header__scroll">
								<nav class="header__menu">
									<ul class="header__menu-list">
										{{- menu(request, 'TOP_MAIN_MENU') -}}
									</ul>
								</nav>
							</div>
						</div>

						<div class="header__contacts">
							<div class="container">
								<a href="javascript:"
									 data-fancybox
									 data-type="ajax"
									 data-src="{{ url('popups:callback', kwargs={'lang': request.LANGUAGE_CODE}) }}"
									 class="header__callback">
									{{- var('CALLBACK_REQUEST_TEXT', request) -}}
								</a>

								<a href="tel:{{ var('TELEPHONE_PUBLIC', request)|phone_url }}"
									 class="tel-link header__tel">{{ var('TELEPHONE_PUBLIC', request) }}</a>
							</div>
						</div>
					</div>
				</header>

				<header class="header-fixed">
					<div class="container">
						<div class="header-fixed__left">
							<a href="{{ home_url }}" class="logo">
								<img src="{{ STATIC_URL }}images/logo_sm.svg" class="img-responsive" alt=""/>
							</a>
						</div>

						<div class="header-fixed__right">
							<a href="tel:{{ var('TELEPHONE_PUBLIC', request)|phone_url }}"
								 class="tel-link header__tel">{{ var('TELEPHONE_PUBLIC', request) }}</a>

							<a href="javascript:"
								 data-fancybox
								 data-type="ajax"
								 data-src="{{ url('popups:callback', kwargs={'lang': request.LANGUAGE_CODE}) }}"
								 class="header__callback">
								{{- var('CALLBACK_REQUEST_TEXT', request) -}}
							</a>

						</div>
					</div>
				</header>
			</div>
			{%- endblock HEADER -%}

      <main class="main">
        {%- block PAGE_CONTENT %}{% endblock -%}
      </main>

			{%- block FOOTER -%}
      <footer class="footer">
        <div class="footer__top">
          <div class="container">

            <div class="footer__left">
              <a href="{{ home_url }}" class="logo footer__logo">
                <img src="{{ STATIC_URL }}images/logo_white.svg" class="img-responsive" alt=""/>
							</a>
            </div>

            <div class="footer__right">
              <div class="footer__menu">
                <ul class="footer__nav">
                  {{- menu(request, 'FOOTER_MENU_COL1') -}}
                </ul>

                <ul class="footer__nav">
                  {{- menu(request, 'FOOTER_MENU_COL2') -}}
                </ul>

                <ul class="footer__nav">
                  {{- menu(request, 'FOOTER_MENU_COL3') -}}
                </ul>

                <ul class="footer__nav">
									{{- menu(request, 'FOOTER_MENU_COL4') -}}
                </ul>

              </div>
            </div>
          </div>
        </div>

        <div class="footer__middle">
          <div class="container">

						{%- if var('ADDRESS', request) -%}
            <address class="address footer__address">
              <a href="{{ url('pages:contacts', kwargs={'lang': request.LANGUAGE_CODE}) }}"
								 class="address__link">
								{{- var('ADDRESS', request) -}}
							</a>
            </address>
						{%- endif -%}

            <div class="footer__middle-right">
              <ul class="socials footer__socials">
								{{- menu(request, 'FOOTER_SOCIALS', target_blank=True) -}}
              </ul>

              <div class="footer__contacts">
								{%- if var('TELEPHONE_PUBLIC', request) -%}
                <a href="tel:{{ var('TELEPHONE_PUBLIC', request)|phone_url }}"
									 class="tel-link footer__tel">
									{{- var('TELEPHONE_PUBLIC', request) -}}
								</a>
								{%- endif -%}

								{%- if var('EMAIL_PUBLIC', request) -%}
                <a href="mailto:{{ var('EMAIL_PUBLIC', request)|e }}" class="email-link footer__email">
									{{- var('EMAIL_PUBLIC', request) -}}
								</a>
								{%- endif -%}

              </div>
            </div>
          </div>
        </div>

        <div class="footer__bottom">
          <div class="container">
            <small class="copyright">
							{{- var('FOOTER_COPYRIGHT_LEFT', request) -}}
              <span>{{ var('FOOTER_COPYRIGHT_RIGHT', request) }}</span>
            </small>
          </div>
        </div>
      </footer>
			{%- endblock FOOTER -%}
    </div>

    <div class="cookie-bar">
      <p>{{ var('COOKIE_BAR_TEXT', request) }}</p>
      <a href="javascript:" class="btn btn--black cookie-close">Принять и закрыть</a>
      <button class="cookie-bar__close cookie-close"></button>
    </div>

		<a href="javascript:"
			data-fancybox
			data-type="ajax"
			data-src="{{ url('popups:thanks_callback', kwargs={'lang': request.LANGUAGE_CODE}) }}"
			class="hide thanks_callback"></a>

		<a href="javascript:"
			data-fancybox
			data-type="ajax"
			data-src="{{ url('popups:thanks_request', kwargs={'lang': request.LANGUAGE_CODE}) }}"
			class="hide thanks_request"></a>

		<link rel="stylesheet" href="{{ static_with_mtime('css/style.css') }}" media="all">

		<!--[if IE]>
		<style>.header__bottom .header__logo img {height: 76px;}</style>
		<![endif]-->

    {%- block EXTRA_STYLES %}{% endblock -%}

    <script src="{{ static_with_mtime('js/critical.js') }}"></script>
		<script src="{{ static_with_mtime('js/main.js') }}"></script>
		<script src="{{ static_with_mtime('js/partials/scripts.js') }}"></script>
		<script src="//www.google.com/recaptcha/api.js?onload=onRecaptchaLoadCallback&render=explicit"
        async defer></script>

		{%- block EXTRA_SCRIPTS %}{% endblock -%}
    {%- block EXTRA_BODY %}{% endblock -%}


		{{- var('BEFORE_BODY_CLOSE', request) -}}
  </body>
</html>
