{%- set languages = get_languages() -%}
<!doctype html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {%- if request.seo_params -%}
        {{- request.seo_params['seo_title'] -}}
        {%- else -%}
        {{- var('SEO_TITLE_PREFIX', request) -}}
        {%- block PAGE_TITLE %}{% endblock -%}
        {{- var('SEO_TITLE_POSTFIX', request) -}}
        {%- endif -%}
    </title>
    <meta name="description" content="
        {%- if request.seo_params -%}
        {{- request.seo_params['seo_description'] -}}
        {%- endif -%}
    ">
    <meta name="keywords" content="
        {%- if request.seo_params -%}
        {{- request.seo_params['seo_keywords'] -}}
        {%- endif -%}
    ">
    {%- block EXTRA_STYLES %}{% endblock -%}
    {%- block EXTRA_META %}{% endblock -%}
    {%- for language in get_languages() -%}
    {%- if language[0] != request.LANGUAGE_CODE -%}
    <link rel="alternate" href="{{ site_url() }}{{ get_language_href(request, language[0]) }}" hreflang="{{ language[0] }}" />
    {%- endif -%}
    {%- endfor -%}
</head>
<body class="{% block BODY_CLASSES %}{% endblock %}">
    {%- block PAGE_CONTENT %}{%- endblock -%}
    {%- block EXTRA_SCRIPTS %}{% endblock -%}
    {%- block EXTRA_BODY %}{% endblock -%}
</body>
</html>
