{%- set languages = get_languages() -%}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block PAGE_TITLE %}{% endblock %}</title>
    {%- block EXTRA_STYLES %}{% endblock -%}
    {%- block EXTRA_META %}{% endblock -%}
    {%- for language in get_languages() -%}
    {%- if language[0] != request.LANGUAGE_CODE -%}
    <link rel="alternate" href="{{ site_url() }}{{ get_language_href(request, language[0]) }}" hreflang="{{ language[0] }}" />
    {%- endif -%}
    {%- endfor -%}
</head>
<body class="{% block BODY_CLASSES %}{% endblock %}">
    {%- block PAGE_CONTENT %}{%- endblock -%}
    {%- block EXTRA_SCRIPTS %}{% endblock -%}
    {%- block EXTRA_BODY %}{% endblock -%}
</body>
</html>
