<div class="b-comments">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="b-comments__heading">
					<h4>Комментарии и отзывы
						<span>( 2 )</span>
					</h4>
				</div>
				<form action="#" class="my-comment">
					<div class="my-comment__photo">
						<input type="file" accept="image/*" name="commentPhoto" class="commentPhoto" id="fi1">
						<label for="fi1" class="my-comment__label"></label>
						<span></span>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form__group">
								<input type="text" name="name" class="form__field required" placeholder="" data-validate="notEmpty">
								<div class="form__placeholder"> Ваше имя и фамилия </div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form__group">
								<input type="text" name="telEmail" class="form__field required" placeholder="" data-validate="notEmpty">
								<div class="form__placeholder"> E-mail или телефон </div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="form__group">
								<input type="text" name="comment" class="form__field required" placeholder="" data-validate="notEmpty">
								<div class="form__placeholder"> Ваш комментарий </div>
							</div>
						</div>
					</div>
				</form>
				<div class="comments">
					<div class="comment">
						<div class="comment__inner">
							<div class="comment__photo">
								<span>СК</span>
							</div>
							<div class="comment__head">
								<div class="comment__name">
									<span>Светлана Калипсо</span>
									<span class="comment__date">01.02.2017</span>
								</div>
								<a href="javascript:" class="comment__reply-link">Ответить</a>
							</div>
							<div class="comment__body"> Сотрудничество с компанией прошло на 5 баллов. Очень понравились дружелюбные менеждеры. </div>
						</div>
					</div>
					<div class="comment">
						<div class="comment__inner">
							<div class="comment__photo">
								<span style="background-image: url(images/raster/comment_user_photo1.jpg)"></span>
							</div>
							<div class="comment__head">
								<div class="comment__name">
									<span>Ирина Дмитреевна</span>
									<span class="comment__date">01.02.2017</span>
								</div>
								<a href="javascript:" class="comment__reply-link">Ответить</a>
							</div>
							<div class="comment__body"> Компанией прошло на 5 баллов. Очень понравились дружелюбные менеждеры. </div>
						</div>
						<div class="comment">
							<div class="comment__inner">
								<div class="comment__photo">
									<span>СК</span>
								</div>
								<div class="comment__head">
									<div class="comment__name">
										<span>Светлана Калипсо</span>
										<span class="comment__date">01.02.2017</span>
									</div>
								</div>
								<div class="comment__body"> Сотрудничество с компанией прошло на 5 баллов. Очень понравились дружелюбные менеждеры. </div>
							</div>
						</div>
						<div class="comment">
							<div class="comment__inner">
								<div class="comment__photo">
									<span style="background-image: url(images/comment_user_photo2.jpg)"></span>
								</div>
								<div class="comment__head">
									<div class="comment__name"> Anas Medical
										<span class="comment__date">01.02.2017</span>
									</div>
								</div>
								<div class="comment__body"> Компанией прошло на 5 баллов. Очень понравились дружелюбные менеждеры. </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>