<div class="share">
	<p>{{ var('SHARE_TITLE', request) }}</p>
	<ul class="share__socials">
		<li>
			<a href="javascript:Share.vk()" class="share-link share-link--vk">
				<span></span>
			</a>
		</li>
		<li>
			<a href="javascript:Share.facebook()" class="share-link share-link--facebook">
				<span></span>
			</a>
		</li>
		<li>
			<a href="javascript:Share.ok()" class="share-link share-link--ok">
				<span></span>
			</a>
		</li>
		<li>
			<a href="javascript:Share.twitter()" class="share-link share-link--twitter">
				<span></span>
			</a>
		</li>
		<li>
			<a href="javascript:Share.googleplus()" class="share-link share-link--googleplus">
				<span></span>
			</a>
		</li>
{#		<li>#}
{#			<a href="javascript:Share.instagram()" class="share-link share-link--instagram">#}
{#				<span></span>#}
{#			</a>#}
{#		</li>#}
{#		<li>#}
{#			<a href="javascript:Share.youtube()" class="share-link share-link--youtube">#}
{#				<span></span>#}
{#			</a>#}
{#		</li>#}
	</ul>
</div>