{%- extends 'layouts/main.html' -%}

{%- block PAGE_TITLE %}{{ var('HOMEPAGE_TITLE', request) }}{% endblock -%}

{%- block BODY_CLASSES %}body-home{% endblock -%}

{%- block PAGE_CONTENT -%}
{%- if home_slides or home_advantages -%}
<div class="b-hero">
	<div class="container">
		{%- if home_slides -%}
		<div class="main-slider owl-carousel owl-theme">
			{%- for slide in home_slides -%}
			<div class="sld">
				<div class="main-slider__slide">
					<div class="row">
						<div class="col-md-12 col-lg-10 col-lg-offset-2">
							<div class="row">
								<div class="col-md-{% if slide.image %}5{% else %}12{% endif %}">
									<div class="offer">
										{%- if slide.title -%}
										<h2>{{ slide.title }}</h2>
										{%- endif -%}

										{%- if slide.subtitle -%}
										<h4>{{ slide.subtitle }}</h4>
										{%- endif -%}

										{%- if slide.url and slide.button_caption -%}
										<a href="{{ slide.url }}" class="btn">{{ slide.button_caption }}</a>
										{%- endif -%}
									</div>
								</div>
								{%- if slide.image -%}
								<div class="col-md-7">
									<div class="main-slider__image">
										<img src="{{ slide.image|thumbnail('600x600') }}"
												 alt="{% if slide.title %}{{ slide.title|e }}{% endif %}">
									</div>
								</div>
								{%- endif -%}
							</div>
						</div>
					</div>
				</div>
			</div>
			{%- endfor -%}
		</div>
		{%- endif -%}

		{%- if home_advantages -%}
		<div class="b-hero__advantages">
			{%- for advantage in home_advantages -%}
			<div class="b-hero__advantage medicon medicon-{{ advantage.icon|e }}">
				<p>{{ advantage.title }}</p>
			</div>
			{%- endfor -%}
		</div>
		{%- endif -%}
	</div>
</div>
{%- endif -%}

{%- for catalog in home_catalogs -%}
<div class="catalog">
	<div class="container">
		<div class="section-title">
			<h4>{{ catalog.title }}</h4>
			{%- if catalog.subtitle -%}
			<p>{{ catalog.subtitle }}</p>
			{%- endif -%}
		</div>

		{%- if home_catalog_products[catalog.id] -%}
		<div class="catalog__row row">
			{%- for product in home_catalog_products[catalog.id] -%}
			<div class="col-xs-12 col-sm-6 catalog__col">
				{%- include 'catalog/_product_block.html' -%}
			</div>
			{%- endfor -%}
		</div>
		{%- endif -%}

		{%- if catalog.link and catalog.button_caption -%}
		<div class="catalog__button">
			<a href="{{ catalog.link }}" class="btn">{{ catalog.button_caption }}</a>
		</div>
		{%- endif -%}

		{%- if catalog.banner_title or catalog.banner_subtitle -%}
		<div class="catalog__discount">
			{%- if catalog.banner_title -%}
			<h4>{{ catalog.banner_title }}</h4>
			{%- endif -%}

			{%- if catalog.banner_subtitle -%}
			<p>{{ catalog.banner_subtitle }}</p>
			{%- endif -%}
		</div>
		{%- endif -%}

		{%- if home_catalog_manufacturers[catalog.id] -%}
		<div class="brands-carousel">
			{%- for manufacturer in home_catalog_manufacturers[catalog.id] -%}
			<div class="sld">
				<a href="javascript:" class="brand-link">
					<img src="{{ manufacturer.image.url }}" alt="{{ manufacturer.title|e }}"/>
				</a>
			</div>
			{%- endfor -%}
		</div>
		{%- endif -%}
	</div>
</div>
{%- endfor -%}

<div class="b-feedback">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="b-feedback__text">
					<h4>Комплексные проекты</h4>
					<p> Наша компания занимается комплексным оснащением стоматологических учреждений от этапа проектирования до поставки оборудования. </p>
					<a href="javascript:" class="btn">Реализованные проекты</a>
				</div>
			</div>
			<div class="col-lg-6">
				<form action="#" class="form b-feedback__form">
					<div class="form__heading">
						<h4>Есть вопросы по сотрудничеству?</h4>
						<p> Оставьте контакты, мы свяжемся с вами по телефону </p>
					</div>
					<div class="form__content">
						<div class="form__group">
							<input type="text" name="name" class="form__field required" placeholder="" data-validate="notEmpty">
							<div class="form__placeholder"> Имя </div>
						</div>
						<div class="form__group">
							<input type="text" name="tel" class="form__field required" placeholder="" data-validate="tel">
							<div class="form__placeholder"> Телефон </div>
						</div>
						<div class="form__group">
							<input type="text" name="question" class="form__field required" placeholder="" data-validate="notEmpty">
							<div class="form__placeholder"> Ваш вопрос </div>
						</div>
					</div>
					<div class="form__button">
						<button type="submit" class="btn btn--black">Отправить</button>
						<!-- <div class="form__err">
					не правильно введен адрес
				</div> --></div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="b-how-working">
	<div class="container">
		<div class="row">
			<div class="col-md-5 hidden-sm hidden-xs">
				<div class="b-how-working__image">
					<img src="{{ STATIC_URL }}images/raster/how_we_working.jpg" class="img-responsive" alt=""> </div>
			</div>
			<div class="col-md-7">
				<div class="b-how-working__text">
					<h4>Как мы работаем с клиентами</h4>
					<p> Обучаем персонал на этапе ввода услуги в клинику. Оказываем полную техническую поддержку. Предоставляем оборудование во временное пользование. Консультируем по проведенному исследованию 24 часа в сутки 7 дней в неделю. </p>
				</div>
			</div>
		</div>
	</div>
</div>
{%- endblock -%}
